.working {
    padding-top: 0;

    &__title {
        color: var(--color-head);
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__list:not(:last-of-type) {
        margin-right: 30px;
        ;
    }

    &__box {
        position: absolute;
        bottom: 0;
        background-color: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
    }

    &__subtitle {
        font-family: 'Roboto';
        font-style: normal;
        color: var(--color-white);
        text-align: center;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 27px auto;
    }
}